@page
@model GestionStock.Pages.Clients.ClientsModel
@{
}
<h1> liste des clients : </h1>
<br>
<h2> liste des clients</h2>
<a class='btn btn-primary btn-sm' href='/Clients/Create'> Nouveau client</a>
<table class="table">
    <thead>
        <tr>
            <th>ID </th>
            <th>Name </th>
            <th>Email </th>
            <th>Télephone </th>
            <th>Adresse </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listClients)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.telephone</td>
                <td>@item.adresse</td>
                <td>
                    <a class='btn btn-primary btn-sm'
                       href='/Clients/Edit?id=@item.id'> Editer </a>
                    <a class='btn btn-danger btn-sm'
                       href='/Clients/Delete?id=@item.id'> supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
